<mat-card class="card" color="primary" >
  <img mat-card-lg-image [src]="character.image" [alt]="character.image" >
  <mat-card-subtitle>
    <mat-card-title >{{ character.name }} {{ character.id }}</mat-card-title>
  </mat-card-subtitle>
  <mat-card-content style="color: #4bce09;" >
    <div class="card_details">
      <span style="color: #fff;">{{'status' | translate }} :</span> {{ character.status }}
    </div>
    <div class="card_details">
      <span style="color: #fff;">{{'gender' | translate }} :</span> {{ character.gender }}
    </div>
    <div class="card_details">
      <span style="color: #fff;">{{'type' | translate }} :</span> {{ character.type }}
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="openDialog(character.id)">Profile</button>
  </mat-card-actions>

</mat-card>
