<article class="card">
  <a [routerLink]="['/character-details', character.id]" class="card__link">
    <figure>
      <img
        [src]="character.image"
        [alt]="character.name"
        rel="preload"
        as="image"
        width="300"
        height="300"
      />
    </figure>
  </a>
  <div class="card__details">
    <h1>{{ character.name }}</h1>
    <ul>
      <li class="card__list">
        <label class="table__label">{{ "Status" | translate }}: </label>
        {{ character.status | translate }}
      </li>
      <li class="card__list">
        <label class="table__label">{{ "Gender" | translate }}:</label>
        {{ character.gender | translate }}
      </li>
      <li class="card__list">
        <label class="table__label">{{ "Human" | translate }}:</label>
        {{ character.species | translate }}
      </li>
    </ul>
  </div>
</article>
