<article class="card">
  <a [routerLink]="['/character-details', character.id]" class="card__link">
    <figure>
      <img
        [src]="character.image"
        [alt]="character.name"
        rel="preload"
        as="image"
        width="300"
        height="300"
      />
    </figure>
  </a>
  <div class="card__details">
    <h1>{{ character.name }}</h1>
    <ul>
      <li class="card__list">
        <label class="table__label">Status</label>: {{ character.status }}
      </li>
      <li class="card__list">
        <label class="table__label">Gender</label>: {{ character.gender }}
      </li>
      <li class="card__list">
        <label class="table__label">Specie</label>: {{ character.species }}
      </li>
    </ul>
  </div>
</article>
