  <mat-toolbar >
    <span>Rick and Morty</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="buttonexperiment favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <a rel="stylesheet" href="https://www.linkedin.com/in/germanalexisdev/" target="_blank" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </a>
  </mat-toolbar>

